.row
  .col-xs-4.col-xs-offset-4
    - if logined? 
      = link_to "创建聊天组", new_chat_team_path, class: "btn btn-primary"
    .panel.panel-default{style: "margin-top:20px;"}
      .panel-heading
        %h3.panel-title 聊天组列表
      %ul.list-group
        - @chat_teams.each do |chat_team|
          %li.list-group-item
            = link_to chat_team.name, chat_team
            - if logined? 
              .pull-right
                - if chat_team.user_id == current_user.id || current_user.admin?
                  %span.glyphico.glyphicon-edit 
                  = link_to "编辑", edit_chat_team_path(chat_team)